<div class="row mt-3">
  <div class="h1">Add New Product</div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="container">
      <form [formGroup]="productForm">
        <div class="mb-3 row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="name" placeholder="Product Name">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="price" class="col-sm-3 col-form-label">Price</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  formControlName="price" placeholder="999.99">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="unitInStock" class="col-sm-3 col-form-label">Unit in stock</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  formControlName="unit_in_stock" placeholder="100">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="offset-sm-3 col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="addProduct()">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
