<div class="row mt-3">
    <div class="col-md-12" style="text-align: right;">
        <a routerLink="/product/new" class="btn btn-success">Add new product</a>
    </div>
</div>
<div class="row mt-3">
    <div class="h1">All Products</div>
    <div class="col-md-12 mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Unit In Stock</th>
                    <th>Detail</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.unit_in_stock }}</td>
                    <td>
                        <a routerLink="/product/detail/{{p._id}}" class="btn btn-primary btn-sm">
                            Detail
                        </a>
                    </td>
                    <td>
                        <a routerLink="/product/edit/{{p._id}}" class="btn btn-info btn-sm">
                            Edit
                        </a> &nbsp;
                        <a (click)="deleteProduct(p._id)" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>