<div class="row mt-3">
    <div class="h3">aaaaaa</div>
</div>
<hr>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Details:
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="background-color: darkgrey;height: 100%;width:100%;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">Price: ฿{{product.price}}</p>
                        <p class="card-text">Stock: ฿{{product.unit_in_stock}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Reviews:
            </div>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form role="form" #reviewForm="ngForm" (ngSubmit)="addReview()">
                            <div class="col">
                                <div class="mb-2">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select name="star" class="form-select" [(ngModel)]="review.star">
                                                <option value="5">5</option>
                                                <option value="4">4</option>
                                                <option value="3">3</option>
                                                <option value="2">2</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" name="comment" class="form-control"
                                                [(ngModel)]="review.comment" required>
                                        </div>
                                        <div class="col-md-2 d-grid gap-2">
                                            <button type="submit" name="btnPost" class="btn btn-primary">
                                                Review
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="list-group-item" *ngFor="let review of product.reviews">
                        <div class="row h-4">
                            <div class="col-md-12">
                                <div class="row mt-1">
                                    <div class="col">
                                        <p class="h6">Stars: {{ review.star }}</p>
                                        <p>{{review.comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>